<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IS-JSDH</title>

    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="res/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="res/grayscale.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="res/favico.png">
</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">IS-JSDH</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Domů</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/members">Jednotka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/news">Oznámení</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/contact">Konatkt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/events">Události</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('HASIC', 'VELITEL', 'ADMIN')">
                    <a class="nav-link js-scroll-trigger" href="/interInfo">Interní info</a>
                </li>
                <li class="nav-item bg-secondary font-italic">
                    <div sec:authorize="isAnonymous()">
                        <a class="nav-link js-scroll-trigger" href="/login">Přihlásit</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <form name="logoutForm" th:action="@{/logout}" method="post" >
                            <input class="nav-link js-scroll-trigger bg-secondary"  type="submit" value="Odhlásit"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h3 class="text-white-50 mx-auto mt-2 mb-5">Události - editace:</h3>
            <form th:action="@{/updateEvent/{id}(id=${event.id})}" th:object="${event}" method="post">
                <div class="form-group">
                    <label for="formGroupExampleInput">Titulek</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Titulek" th:field="*{tittle}" th:text="${event.tittle}">
                    <p style="color:red;" th:if="${#fields.hasErrors('tittle')}" th:errors="*{tittle}"></p>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Místo</label>
                    <input type="text" th:field="*{place}" th:text="${event.place}" class="form-control" id="formGroupExampleInput2" placeholder="Místo">
                    <p style="color:red;" th:if="${#fields.hasErrors('place')}" th:errors="*{place}"></p>
                </div>
                <div class="form-group">
                    <label for=formGroupExampleInput3 class="col-2 col-form-label">Datum</label>
                    <div class="col-10">
                        <input class="form-control" th:field="*{dateofaccident}" th:datetime="${event.dateofaccident}" type="date" value="2020-01-1" id="formGroupExampleInput3">
                        <p style="color:red;" th:if="${#fields.hasErrors('dateofaccident')}" th:errors="*{dateofaccident}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput4">Text</label>
                    <textarea class="form-control" th:field="*{text}" th:text="${event.text}" rows="6" id="formGroupExampleInput4"></textarea>
                    <p style="color:red;" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Vložit událost</button>
            </form>
        </div>
    </div>
</header>

<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Zápočtový projekt z předmětu PPRO na UHK FIM 2020 &emsp; &emsp; &emsp; Autor: Pohořský Tomáš
    </div>
</footer>


<script src="res/jquery.min.js"></script>
<script src="res/bootstrap.bundle.min.js"></script>
<script src="res/jquery.easing.min.js"></script>
<script src="res/grayscale.min.js"></script>

</body>
</html>
