<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IS-JSDH</title>

    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="res/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="res/grayscale.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="res/favico.png">
</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">IS-JSDH</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Domů</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/members">Jednotka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/news">Oznámení</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/contact">Konatkt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/events">Události</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('HASIC', 'VELITEL', 'ADMIN')">
                    <a class="nav-link js-scroll-trigger" href="/interInfo">Interní info</a>
                </li>
                <li class="nav-item bg-secondary font-italic">
                    <div sec:authorize="isAnonymous()">
                        <a class="nav-link js-scroll-trigger" href="/login">Přihlásit</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <form name="logoutForm" th:action="@{/logout}" method="post" >
                            <input class="nav-link js-scroll-trigger bg-secondary"  type="submit" value="Odhlásit"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h3 class="text-white-50 mx-auto mt-2 mb-5">Člen jednotky - editace:</h3>
            <form th:action="@{/updateMember/{id}(id=${member.id})}"
                  th:object="${member}"
                  method="post">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First name" id="firstname" th:field="*{firstname}" th:text="${member.firstname}">
                        <p style="color:red;" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last name" id="surname" th:field="*{surname}" th:text="${member.surname}">
                        <p style="color:red;" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for=datum class="form-group">Datum narození</label>
                        <div class="col-10">
                            <input class="form-control" type="date" value="2000-01-1" id="datum" th:field="*{dateOfBirth}" th:datetime="${member.dateOfBirth}">
                            <p style="color:red;" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
                        </div>
                    </div>


                    <fieldset class="form-group" >
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Specializace</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" th:field="*{specialization}" type="radio" name="gridRadios" id="1" value="1" checked>
                                    <label class="form-check-label" for="1">
                                        Velitel jednotky
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" th:field="*{specialization}" type="radio" name="gridRadios" id="2" value="2">
                                    <label class="form-check-label" for="2">
                                        Stroník
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" th:field="*{specialization}" type="radio" name="gridRadios" id="3" value="3" >
                                    <label class="form-check-label" for="3">
                                        Hasič
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" th:field="*{specialization}" type="radio" name="gridRadios" id="4" value="4" >
                                    <label class="form-check-label" for="4">
                                        Zdravotník
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" th:field="*{specialization}" type="radio" name="gridRadios" id="5" value="5" >
                                    <label class="form-check-label" for="5">
                                        Preventista
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Vložit člena</button>
                </div>
            </form>
        </div>
    </div>
</header>

<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Zápočtový projekt z předmětu PPRO na UHK FIM 2020 &emsp; &emsp; &emsp; Autor: Pohořský Tomáš
    </div>
</footer>


<script src="res/jquery.min.js"></script>
<script src="res/bootstrap.bundle.min.js"></script>
<script src="res/jquery.easing.min.js"></script>
<script src="res/grayscale.min.js"></script>

</body>
</html>
